.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: red;
}
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: rgba(228, 183, 236, 0.90);
}
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}