.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #414288;
   	-fx-font-family: 'Century Gothic';
	-fx-font-size: 13px;
    
    }
  
  
 .column-header {
 		-fx-text-fill: white;
 } 
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgb(60, 60, 60);
	-fx-text-fill: white;
}
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: rgb(75, 50, 42);
   	-fx-text-fill: white;
}
.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}

.button {
   -fx-position: relative;
   -fx-display: inline-block;
   -fx-margin: 0;
   -fx-background-color: #6E4555;		
   -fx-background-radius: 0;
   -fx-transition: background 250ms, box-shadow 250ms;
	-fx-text-fill: white;
    -fx-font-family: 'Century Gothic';
	-fx-font-size: 13px;

	
}

.button:hover {
	-fx-background-color:#74686D;
	-fx-text-fill: white;
}

.ventana {
	-fx-pref-height :530px ;
	-fx-pref-width : 840px;
}

#panelDatos {
	 -fx-border-color:grey;
}

.btn-menu
{
   -fx-position: relative;
   -fx-display: inline-block;
   -fx-margin: 0;
	-fx-font-family: 'Century Gothic';
	-fx-font-size: 11px;
   -fx-background-color: #353535;	
   -fx-pref-height: 30px;
 }

.btn-menu:hover {
	-fx-background-color: rgb(120, 120, 120);	
	-fx-text-fill: white;
}

.btn-menu:pressed {
	-fx-background-color: #74686D;	
	-fx-text-fill: white;
}

.btn-menu:selected {
	-fx-background-color: #74686D;	
	-fx-text-fill: white;
}

.btnLogin {
	-fx-background-color:#74686D;	
	-fx-text-fill: white;
}

 .btnLogin:hover {
	-fx-background-color:#74686D;	
	-fx-text-fill: white;
}

.btnLogin:pressed {
	-fx-background-color:#74686D;	
	-fx-text-fill: white;
}

